<!DOCTYPE html>
<html>
<head>
    <title>Netzfrequenz-Daten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Verfügbare CSV-Dateien</h1>
    <ul>
        {% for file in files %}
        <li>
            {{ file }}
            <a href="{{ url_for('show_chart', filename=file) }}">Diagramm anzeigen</a>
            <a href="{{ url_for('download_file', filename=file) }}">Herunterladen</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
